<!-- add an option to add a post -->

<div class="new-post-container">
  <div class="home-card">
      <h3 class="card-header">CREATE NEW POST</h3>
      <form class="card-body new-post-form" id="new-post-form">
          <label for="post-title" class="form-label">TITLE: </label>
          <br/>
          <input type="text" id="titleInp" name="post-title" class="form-input" />
          <br/>
          <label class="form-label" for="content">DESCRIPTION: </label>
          <br/>
          <input name="content" class="form-input" id="descInp" />
          <br/>
            <button type="submit" class="btn" id="postBtn">POST</button>
          </div>
      </form>
      </br>
  </div>
</div>

{{#each posts as |post| }}
<div class="card">
    <div class="card-header">
       <h4>{{post.title}}</h4>
    </div>
    <p class="card-body">{{post.description}}</p>
</div>
{{/each}}
<script src="/js/post.js"></script>